<p>
  <strong>Color:</strong>
  <%= @heffalump.color %>
</p>
 
<p>
  <strong>Number of Spots:</strong>
  <%= @heffalump.num_spots %>
</p>

<p>
  <strong>Striped:</strong>
  <%= @heffalump.striped %>
</p>

<%= link_to 'Back', heffalumps_path %> | <%= link_to 'Edit', edit_heffalump_path(@heffalump) %>