<table>
  <tr>
    <th>Id</th>
    <th>Color</th>
    <th>Number of Spots</th>
    <th>Striped</th>
    <th/>
    <th/>
    <th/>
  </tr>
 
  <tr>
    <td><%= @heffalump.id %></td>
    <td><%= @heffalump.color %></td>
    <td><%= @heffalump.num_spots %></td>
    <td><%= @heffalump.striped %></td>
  </tr>

</table>

<%= link_to 'Back', heffalumps_path %> | <%= link_to 'Edit', edit_heffalump_path(@heffalump) %>